.box1 {
    height: 100%;
    width: 100%;
}

.box1 .rectangle1 {
    background: linear-gradient(180deg, rgba(197, 158, 230, 0.28) 0%, rgba(237, 115, 125, 0.28) 100%);
    margin-top: 6rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    border-radius: 60px;
    box-shadow: 1px 4px 4px #00000040;
    height: 80%;
    left: 0;
    position: fixed;
    top: 0;
    /* transform: rotate(180deg); */
    width: 93%;
}
