.bg-gradient-dark{
    background-image: linear-gradient(310deg, #141727 0%, #3A416F 100%); 
    opacity: 0.8;
}
.page-header {
    padding: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: 50%;
    min-height: 75vh !important;
    background-image: url('../../assets/aboutus/cover.png');
    justify-content: center !important;
}

.mask {
    position: absolute;
    background-size: cover;
    background-position: center center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8 !important;
    background-image: linear-gradient(120deg, #51098F 36.77%, #A91399 64.92%, #AC1B81 77.89%, #8423BF 85.32%, #7928CA 95.52%);
  }

  .row {
    /* --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x)); */
    justify-content: center !important;
  }

  .container{
    z-index: 1;
  }

  .text-center {
    text-align: center !important;
  }
  .mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
  .text-white {
    color: #fff !important;
  }
  .lead {
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 2px;
    line-height: 1.625;
  }
 
  .text-dark {
    color: #344767 !important;
  }
  
  .btn{
    display: inline-block;
    font-family: Jost;
    padding: 12px 24px;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border: 0;
    border-radius: 8px; /* Rounded corners */
    background-color: #ffffff; /* Button background color (blue in this example) */
    color: var(--text-color-black, #000); /* Text color (white in this example) */
    cursor: pointer;
    top: 26px;
    width: 149px;
    height: 40px;
    flex-shrink: 0;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    text-transform: uppercase;
    letter-spacing: -0.025rem;
    margin-top:26px;
  }

  .btn.bg-white:hover {
    color: #67748e;
  }

  .find-us{
    margin-bottom: 0.5rem !important;
    margin-top: 3rem !important;
  }

  .text-lg {
    font-size: 1.125rem !important;
  }

  .d-flex{
    display: flex;
    margin-top: 12px;
    justify-content: center !important;
  }

 .handle{
    margin-right: 1.5rem !important;
 }
  